* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    background: rgb(247, 245, 245)
}

/* nav,
nav ul, #grid {
    flex: 1;
} */

nav .nav-list {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    position: relative;
}

nav a {
    color: #222;
    text-decoration: none;
    font-size: 10pt;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(228, 121, 28);
    font-size: 38px;
}

.search-bar {
    position: relative;
    margin-top: 20px;
    width: 85%;
    height: 45px;
    border-radius: 25px;
    border: 1px solid rgba(87, 87, 87, 0.5);
    background-color: rgba(233, 233, 233, 0.8);  
}

.search-bar:focus {
    width: 90%;
    height: 48px;
    border-radius: 25px;
    border: 2px solid rgba(87, 87, 87, 0.8);
    background-color: rgba(233, 233, 233, 0.8);
}
#mag_glass {
    position: relative;
    top: 9px;
    left: -45px;
    font-size: 16pt;
    color: rgba(87, 87, 87, 1);
    border: none;
}

#cancel {
    position: relative;
    top: 9px;
    left: -60px;
    font-size: 16pt;
    color: rgba(87, 87, 87, 1);
    border: none;
}

#sign_in {
    position: relative;
    left: -10px;
    border: none;
    margin-top: 10px;
    border-radius: 40%;
    height: 40px;
    width: 50px;
    background-color: rgb(247, 245, 245);
}

#cart {
    border: none;
    font-size: 18pt;
    color: rgba(87, 87, 87, 1);
    background-color: rgb(247, 245, 245);
    border-radius: 40%;
    height: 40px;
    margin-top: 10px;
}

/* Start of the Nav Bar Menu Items */

ul {
    width: 100%;
}
.nav-label {
    display: none;
}
  
.nav-list {
    display: flex;
}

/* .nav-label:hover > {
    display: flex;
} */
.dropdown-item {
    display: flex;
    flex-direction: row;
}

#drop-list-ul{
    display: flex;
    flex-direction: column;
}

/* Formatting for drop-down side .submenu */
.drop-list-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Formatting for the sub-sub-menu list of links below the headings in the side sub menu. */

.sub-sub-menu {
    text-align: start;
    font-size: 8pt;
}

.drop-list{
    display: flex;
    justify-content: flex-start;
    height: 45px;
    width: auto;  
}

/* Styling for the list items on the side sub menu */
.submenu {
    text-align: left;
}
.drop-down-over {
    font-size: 12pt;
    /* font-weight: 500; */
    color: rgba(0, 0, 0, 0.7);
}
.dropdown-block {
    display: none;
    position: absolute;
    top: 40px;
    left: -20px;
}

/* for styling the drop down mega menu when hovering. */
.dropdown-item:hover > .dropdown-block {
    background-color:rgb(247, 245, 245);
    height: 325px;
    width: 1120%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
/* styling for the sub menu 
on the side of the drop down */

.sub-sub {
    padding-top: 8px;
    text-indent: 10px;
    border-right: 1.5px solid  rgba(87, 87, 87, 1);
    display: absolute;
    width: 35%;
    left: 5px;
}

.sub-sub:hover {
    background-color: rgba(red, green, blue, alpha);

}

.drop-list-ul{
    width: 33%;
}

/* Start where to style my next hover over menu to the side. */
.drop-down-over {
    display: none;
}

.drop-list:hover > .drop-down-over {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}

#grid {
    width: 100%;
    margin: 0 auto;
    top: 125px;  
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.etsy-items {
    width: 250px;
    margin-left: 5vh;
    /* overflow: hidden; */
}

.title {
    font-size: medium;
    font-weight: normal;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shop {
    font-size: 10pt;
    font-weight: lighter;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.views{
    font-size: 10pt;
    font-weight: lighter;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

}

img:hover {
    box-shadow: 3px 3px 3px 3px rgba(88, 63, 63, 0.3);
}

img {
    object-fit: cover;
    object-position: center;
    height: 200px;
}

.more {
    margin-top: 10px;
    text-indent: 25px;
    text-align: left;
    justify-items: center;
    font-size: 14pt;
    height: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* STart stayling for the page buttons */

.page {
    margin: 20px 40px 20px 10px;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background-color: rgb(216, 213, 213);
}

footer {
    padding: 25px;
    height: 100px;
    background-color: rgb(3, 10, 75);
    color: seashell;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

