* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

#grid {
    top: 125px;  
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.etsy-items {
    width: 250px;
    margin-left: 5vh;
    /* overflow: hidden; */
}

.title {
    font-size: medium;
    font-weight: normal;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shop {
    font-size: 10pt;
    font-weight: lighter;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

img:hover {
    box-shadow: 3px 3px 3px 3px rgba(88, 63, 63, 0.3);
}

img {
    object-fit: cover;
    object-position: center;
    height: 200px;
}

strong {
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-size: 12pt;
}

header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    background: rgb(247, 245, 245)
}

nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1,
nav ul, #grid {
    flex: 1;
}

nav ul {
    margin-top: 25px;
    margin-bottom: 10px;
    height: 45px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #222;
    text-decoration: none;
    font-size: 10pt;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(228, 121, 28);
    font-size: 38px;
}

li:hover {
    bottom: 0;
    position: relative;
    height: 400px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.search-bar{
    position: relative;
    margin-top: 20px;
    width: 85%;
    height: 45px;
    border-radius: 25px;
    border: 1px solid rgba(87, 87, 87, 0.5);
    background-color: rgba(233, 233, 233, 0.8);  
}

.search-bar:focus{
    width: 90%;
    height: 48px;
    border-radius: 25px;
    border: 2px solid rgba(87, 87, 87, 0.8);
    background-color: rgba(233, 233, 233, 0.8);
}

#dotsy{
    width: 125px;
    text-align: center;
}

