* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 2rem;
    position: relative;
}

.nav-label .dropdown {
    display: none;
}
  
.nav-label .dropdown {
    position: absolute;
    left: 0;
    right: 0;
}

.nav-list {
    display: flex;
}

.nav-label:hover > .dropdown {
    display: flex;
}

.dropdown-block {
    display: none;
    position: absolute;
    left: 30%;
    top: 0;
}

.dropdown-item {
    display: flex;
}

.dropdown ul {
    width: 100%;
}

.val .dropdown-item-label {
    width: 30%;
    padding: 10px;
}

.dropdown-item .dropdown-item-label:hover {
    background: #ddd;
}

.dropdown-item:hover > .dropdown-block {
    display: block;
}